@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default;
}
@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	--color-primary: oklch(55% 0.2 21.86);
	--color-primary-content: oklch(98% 0.01 21.86);
}

@theme {
	--font-cursive: 'Island Moments', cursive;
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	
	--spacing-space: 0.35ch;
}

@layer components {
	.btn-badge {
		@apply btn btn-outline btn-sm border-base-300 gap-x-space;
	}
}
